<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>

        <audio id="myAudio" src="Assets/Weezer (Red Album) - Pork and Beans.mp3" type="Audio/mp3" preload="auto"></audio>
        <audio id="myAudio2" src="Assets/Saint Pepsi - Enjoy yourself.mp3" type="Audio/mp3" preload="auto"></audio>

        <link rel="stylesheet" type="text/css" href="../css/deck.css" />

        <script  src="../js/deck.js"></script>
        <script>
            var myAudio = document.getElementById("myAudio");
            var isPlaying = false;
        
            function togglePlay() {
                isPlaying ? myAudio.pause() : myAudio.play();
            };
        
            myAudio.onplaying = function() {
                isPlaying = true;
            };
            myAudio.onpause = function() {
                isPlaying = false;
            };
        
            var myAudio2 = document.getElementById("myAudio2");
            var isPlaying = false;
        
            function togglePlay2() {
                isPlaying ? myAudio2.pause() : myAudio2.play();
            };
        
            myAudio2.onplaying = function() {
                isPlaying = true;
            };
            myAudio2.onpause = function() {
                isPlaying = false;
            };
        </script>
        <link rel="stylesheet" type="text/css" href="../css/index.css" />
    </head>

    <body>
        <header>
            <nav>
                <div class="logo">
                    Scoundrel
                </div>
                <ul>
                 <li><a href="#" class="selected"></a>Home</li>
                 <li><a href="#"></a>Tutorial</li>
                 <li><a href="#"></a>Game</li>
                 <li><a href="#"></a>Development</li>
                </ul> 
             </nav>
             <div class="content">
                <h1>Scoundrel</h1>
                <p>A dungeon crawl Rogue like created by Zach Bage and Kurt Bieg</p>
                <a href="#" class="highlight">Start</a>
             </div>
        </header>

        <footer>
            <ul>
                <li><button onClick="togglePlay()">Weezer</button></li>
                <li><button onClick="togglePlay2()">St Pepsi</button></li>
            </ul>
        </footer>
    </body>
</html>